argparse
numpy>=1.20.0  # now 1.19.5 try upgrading. To ensure compatibility with OpenCV on Raspberry Pi.
#opencv-python~=4.5.3.56 # removed this since we switched to hardware optimized distribution.
tflite-support==0.4.3 # had to downgrade to 0.4.3 to fix this issue https://forums.raspberrypi.com/viewtopic.php?t=353534
protobuf>=3.18.0,<4